<!-- Sectiune navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light menu shadow fixed-top">
    <div class="container-fluid">   
        <button class="navbar-toggler"  style = "color: #fff;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class = "fas fa-bars" style = "color: #fff; font-size: 28px;"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav text-center">
                <li class = "nav-item">
                    <a class = "nav-link text-uppercase" href = "/">Acasa</a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link text-uppercase" href = "/email/register">Inregistare e-mail</a>
                </li>
            </ul>
        </div>
    </div>
</nav>