<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width = device-width, initial-scale = 1.0, maximum-scale = 5.0" />
    
    <meta name = "author" content = "emails.ro" />
    <meta name = "contanct" content = "office@navodari.ro" />
    
    <!-- CSS files -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" media = "all" />
    <link rel = "stylesheet" href = "/css/email.css" type = "text/css" media = "all" />
    
    <!-- Favicon -->
    <link rel = "icon" type = "image/png" href = "/images/favicon.png" />
  
    <!-- Font Awesome Kit Code -->
    <script defer src="https://kit.fontawesome.com/d22129114a.js" crossorigin="anonymous"></script>
    
    <!-- JavaScript Bundle with Popper -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <!-- Lazysizes -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" integrity="sha512-q583ppKrCRc7N5O0n2nzUiJ+suUv7Et1JGels4bXOaMFQcamPk9HjdUknZuuFjBNs7tsMuadge5k9RzdmO+1GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <title>E-mail premium, personalizat, profesional - EMAILS</title>
    
    <meta name = "description" content = "Adresa de e-mail profesionala, personalizata cu numele tau. Pentru profesionalism si credibilitate sporita." />
    <meta name = "keyword" content = "e-mail personalizat, profesional, credibilitate, incredere, profesionalism, e-mail, credibilitate sporita, e-mail profesional" />
    
    
    <link rel = "canonical" href = "https://www.emails.ro/" />
    <meta property = "og:locale" content = "ro_RO" />
    <meta property = "og:type" content = "website" />
    <meta property = "og:title" content = "EMAILS - E-mailuri profesionale, personalizate" />
    <meta property = "og:description" content = "Adresa de e-mail, personalizata cu numele tau. Pentru profesionalism si credibilitate sporita." />
    <meta property = "og:url" content = "https://www.emails.ro/" />
    <meta property = "og:site_name" content = "EMAILS" />
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L2Q0Q0N2QN"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'G-L2Q0Q0N2QN');
    </script>
</head>
<body>
    {{> navbar }}
    {{{ body }}}
    {{> footer }}
    
    <!-- isMobile -->
    <script>
        var isMobile = {
            Android: function() {
                return navigator.userAgent.match(/Android/i);
            },
            BlackBerry: function() {
                return navigator.userAgent.match(/BlackBerry/i);
            },
            iOS: function() {
                return navigator.userAgent.match(/iPhone|iPad|iPod/i);
            },
            Opera: function() {
                return navigator.userAgent.match(/Opera Mini/i);
            },
            Windows: function() {
                return navigator.userAgent.match(/IEMobile/i);
            },
            any: function() {
                return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
            }
        };
    </script>
    
    <!-- Show Profitshare Banner -->
    <script>
        $(document).ready(function() {
            if(isMobile.any()) {
                $('#profitshareBanner1PC').hide();
                $('#profitshareBanner2PC').hide();
                $('#profitshareBanner1Mobile').show();
                $('#profitshareBanner2Mobile').show();                
            } else {
                $('#profitshareBanner1PC').show();
                $('#profitshareBanner2PC').show();
                $('#profitshareBanner1Mobile').hide();
                $('#profitshareBanner2Mobile').hide();
            }
        });
    </script>
</body>
</html>