<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class = "img-fluid" src = "/images/header1.jpg" />
            <div class="container">
                <div class="carousel-caption">
                    <h1 class = "header-text">Formular inregistrare e-mail personalizat</h1>
                    <p class = "header-text">Inainte de a completa formrularul, puteti da click pe unul dintre butoanele de mai jos pentru a vedea pretul si caracteristicile unui e-mail personalizat, profesional.</p>
                    <div class = "text-center">
                        <a class = "btn btn-lg btn-success" href = "/#pricing">Vezi preturile</a>
                        <a class = "btn btn-lg btn-primary" href = "/#features">Caracteristici</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class = "container">

    {{#if submitted}}
        <div class="alert alert-success text-center">
            <strong>Formularul a fost completat si trimis cu succes. Va vom contacta in cel mai scurt timp posibil. Va multumim ca ati ales serviciile noastre pentru gazduirea e-mail-urilor.</strong>
        </div>
    {{/if}}
    <div class = "row EmailForm">
        <form action = "#" method = "POST" class = "form">
            <div class="row">
                <div class="col-12 col-md-6 mb-4">
                    <div class="form-floating">
                        <input type="text" name="full_name" id="inputFullName" class="form-control" placeholder = "John Doe" required />
                        <label for = "inputFullName">Nume complet</label>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-4">
                    <div class="form-floating">
                        <input type="date" name="date_of_birth" id="inputDOB" class="form-control" placeholder = "01/01/1970" required />
                        <label for = "inputDOB">Data nasterii</label>
                    </div>
                </div>
            </div>

            <!-- Email input -->
            <div class="form-floating mb-4">
                <input type="email" name="current_email" id="inputEmail" class="form-control" placeholder = "name@example.com" required />
                <label for = "inputEmail">Adresa de e-mail curenta</label>
            </div>

            <!-- Phone No. input -->
            <div class="form-floating mb-4">
                <input type="text" name="phone_no" id="inputPhone" class="form-control" placeholder = "+40 734 858 747" required />
                <label for = "inputPhone">Numar de telefon</label>
            </div>

            <!-- Address -->
            <div class="row">
                <div class="col-12 col-md-6 mb-4">
                    <div class="form-floating">
                        <input type="text" name="country" id="inputCountry" class="form-control" placeholder = "Romania" />
                        <label for = "inputCountry">Tara</label>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-4">
                    <div class="form-floating">
                        <input type="text" name="county" id="inputCounty" class="form-control" placeholder = "Constanta" />
                        <label for = "inputCounty">Judet / Regiune</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6 mb-4">
                    <div class="form-floating">
                        <input type="text" name="city" id="inputCity" class="form-control" placeholder = "Lumina" />
                        <label for = "inputCity">Oras</label>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-4">
                    <div class="form-floating">
                        <input type="text" name="address" id="inputAddress" class="form-control" placeholder = "str. X, nr. Y" required />
                        <label for = "inputAddress">Adresa (pentru facturare)</label>
                    </div>
                </div>
            </div>

            <div class = "input-group mb-3">
                <input type="text" name="email_name" id="inputEmailName" class="form-control" placeholder = "Nume" required />
                <span class="input-group-text">@</span>
                <select name="email_domain" id="selectEmailDomain" class="form-control" required>
                    <option selected>Selecteaza domeniu</option>
                    <option value="mp.ro">mp.ro</option>
                    <option value="crina.ro">crina.ro</option>
                    <option value="cinea.ro">cinea.ro</option>
                    <option value="perdivara.ro">perdivara.ro</option>
                    <option value="sidorenco.ro">sidorenco.ro</option>
                    <option value="topoleanu.ro">topoleanu.ro</option>
                    <option value="hirizescu.ro">hirizescu.ro</option>
                    <option value="ceraceanu.ro">ceraceanu.ro</option>
                    <option value="cioacla.ro">cioacla.ro</option>
                    <option value="bursucianu.ro">bursucianu.ro</option>
                    <option value="negus.ro">negus.ro</option>
                    <option value="atasiei.ro">atasiei.ro</option>
                    <option value="aeleni.ro">aeleni.ro</option>
                    <option value="buturuga.ro">buturuga.ro</option>
                    <option value="turcitu.ro">turcitu.ro</option>
                    <option value="grovu.ro">grovu.ro</option>
                    <option value="tarsana.ro">tarsana.ro</option>
                    <option value="leopea.ro">leopea.ro</option>
                    <option value="jijie.ro">jijie.ro</option>
                    <option value="puscalau.ro">puscalau.ro</option>
                    <option value="adochitei.ro">adochitei.ro</option>
                    <option value="memet.ro">memet.ro</option>
                    <option value="boghici.ro">boghici.ro</option>
                    <option value="sirbescu.ro">sirbescu.ro</option>
                    <option value="darlau.ro">darlau.ro</option>
                    <option value="vasu.ro">vasu.ro</option>
                    <option value="bucsa.ro">bucsa.ro</option>
                    <option value="despa.ro">despa.ro</option>
                    <option value="licoi.ro">licoi.ro</option>
                    <option value="lesan.ro">lesan.ro</option>
                    <option value="husea.ro">husea.ro</option>
                    <option value="ulmeteanu.ro">ulmeteanu.ro</option>
                    <option value="calafus.ro">calafus.ro</option>
                    <option value="perifan.ro">perifan.ro</option>
                    <option value="zelca.ro">zelca.ro</option>
                    <option value="chirazi.ro">chirazi.ro</option>
                    <option value="pirvanescu.ro">pirvanescu.ro</option>
                    <option value="caploiu.ro">caploiu.ro</option>
                    <option value="branga.ro">branga.ro</option>
                    <option value="manase.ro">manase.ro</option>
                    <option value="calimanescu.ro">calimanescu.ro</option>
                    <option value="comanoiu.ro">comanoiu.ro</option>
                    <option value="teodor.ro">teodor.ro</option>
                    <option value="private.ro">private.ro</option>
                    <option value="kures.ro">kures.ro</option>
                    <option value="patrana.ro">patrana.ro</option>
                    <option value="pererva.ro">pererva.ro</option>
                    <option value="iantuc.ro">iantuc.ro</option>
                    <option value="macalet.ro">macalet.ro</option>
                    <option value="doltu.ro">doltu.ro</option>
                    <option value="chirtibus.ro">chirtibus.ro</option>
                    <option value="petrachiuta.ro">petrachiuta.ro</option>
                    <option value="risnoveanu.ro">risnoveanu.ro</option>
                    <option value="badauta.ro">badauta.ro</option>
                    <option value="crecan.ro">crecan.ro</option>
                    <option value="tanasica.ro">tanasica.ro</option>
                    <option value="colu.ro">colu.ro</option>
                    <option value="giaca.ro">giaca.ro</option>
                    <option value="malciu.ro">malciu.ro</option>
                    <option value="viscun.ro">viscun.ro</option>
                    <option value="negroiu.ro">negroiu.ro</option>
                    <option value="veniciuc.ro">veniciuc.ro</option>
                    <option value="rauta.ro">rauta.ro</option>
                    <option value="agachi.ro">agachi.ro</option>
                    <option value="calintaru.ro">calintaru.ro</option>
                    <option value="sterea.ro">sterea.ro</option>
                    <option value="cotigi.ro">cotigi.ro</option>
                    <option value="balasescu.ro">balasescu.ro</option>
                    <option value="blasiu.ro">blasiu.ro</option>
                    <option value="hasoti.ro">hasoti.ro</option>
                    <option value="sichim.ro">sichim.ro</option>
                    <option value="mazareanu.ro">mazareanu.ro</option>
                    <option value="tanasov.ro">tanasov.ro</option>
                    <option value="jacota.ro">jacota.ro</option>
                    <option value="mucu.ro">mucu.ro</option>
                    <option value="muca.ro">muca.ro</option>
                    <option value="vardol.ro">vardol.ro</option>
                    <option value="gramosteanu.ro">gramosteanu.ro</option>
                    <option value="saioc.ro">saioc.ro</option>
                    <option value="tiganesteanu.ro">tiganesteanu.ro</option>
                    <option value="grigoriciuc.ro">grigoriciuc.ro</option>
                    <option value="loredana.ro">loredana.ro</option>
                    <option value="damian.ro">damian.ro</option>
                    <option value="satan.ro">satan.ro</option>
                    <option value="avicola.ro">avicola.ro</option>
                    <option value="tool.ro">tool.ro</option>
                    <option value="daniela.ro">daniela.ro</option>
                    <option value="ad-hoc.ro">ad-hoc.ro</option>
                    <option value="draven.ro">draven.ro</option>
                    <option value="illogic.ro">illogic.ro</option>
                    <option value="orzea.ro">orzea.ro</option>
                    <option value="sulca.ro">sulca.ro</option>
                    <option value="purichea.ro">purichea.ro</option>
                    <option value="selagea.ro">selagea.ro</option>
                    <option value="bistea.ro">bistea.ro</option>
                    <option value="cotelia.ro">cotelia.ro</option>
                    <option value="minica.ro">minica.ro</option>
                    <option value="bahica.ro">bahica.ro</option>
                    <option value="dichiu.ro">dichiu.ro</option>
                    <option value="danculea.ro">danculea.ro</option>
                    <option value="caprioriu.ro">caprioriu.ro</option>
                    <option value="guberna.ro">guberna.ro</option>
                    <option value="apostolidis.ro">apostolidis.ro</option>
                    <option value="durbac.ro">durbac.ro</option>
                    <option value="berbecaru.ro">berbecaru.ro</option>
                    <option value="delca.ro">delca.ro</option>
                    <option value="zaifu.ro">zaifu.ro</option>
                    <option value="danilet.ro">danilet.ro</option>
                    <option value="bruha.ro">bruha.ro</option>
                    <option value="oaida.ro">oaida.ro</option>
                    <option value="caraolan.ro">caraolan.ro</option>
                    <option value="chinces.ro">chinces.ro</option>
                    <option value="puflea.ro">puflea.ro</option>
                    <option value="vilculescu.ro">vilculescu.ro</option>
                    <option value="slavu.ro">slavu.ro</option>
                    <option value="moruzi.ro">moruzi.ro</option>
                    <option value="chendru.ro">chendru.ro</option>
                    <option value="demit.ro">demit.ro</option>
                    <option value="coteanu.ro">coteanu.ro</option>
                    <option value="baiatu.ro">baiatu.ro</option>
                    <option value="adelina.ro">adelina.ro</option>
                    <option value="enavodari.ro">enavodari.ro</option>
                    <option value="cristinel.ro">cristinel.ro</option>
                    <option value="ilusion.ro">ilusion.ro</option>
                    <option value="florin.ro">florin.ro</option>
                    <option value="sw.ro">sw.ro</option>
                    <option value="weather.ro">weather.ro</option>
                    <option value="ctaonline.ro">ctaonline.ro</option>
                    <option value="liberty.ro">liberty.ro</option>
                    <option value="lesbi.ro">lesbi.ro</option>
                    <option value="medgidia.ro">medgidia.ro</option>
                    <option value="emails.ro">emails.ro</option>
                </select>
            </div>

            <div class="row">
                <div class="col-12 col-md-6 mb-4">
                    <div class="form-floating">
                        <select name = "existing_client" id = "selectExistingClient" class = "form-control">
                            <option value = "NU" selected>Nu</option>
                            <option value = "DA">Da (50% reducere)</option>
                        </select>
                        <label for = "selectExistingClient">Client 07INTERNET?</label>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-4">
                    <div class="form-floating">
                        <input type="text" name="clientCode" id="inputClientCode" class="form-control" placeholder = "1234" />
                        <label for = "inputClientCode">Cod client</label>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <button class = "btn btn-success btn-lg">Trimite formular</button>
            </div>
        </form>
    </div>
</div>