<main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class = "img-fluid lazyload" data-src = "/images/header1.jpg" alt = "Header Image" title = "Header Image" />
                <div class="container">
                    <div class="carousel-caption">
                        <h1 class = "header-text">E-mail profesional, de tip prenume@nume.ro</h1>
                        <p class = "header-text">Adresa de e-mail, personalizata cu numele tau. Pentru profesionalism si credibilitate sporita.</p>
                        <div class = "text-center">
                            <a class = "btn btn-lg btn-success" href = "#pricing">Vezi preturile</a>
                            <a class = "btn btn-lg btn-primary" href = "#features">Caracteristici</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id = "profitshareBanner1PC">
        <!-- Start ProfitShare Zone 8971700 -->
        <script>
            if ("undefined" == typeof profitshare_id) var profitshare_id = {};
            if ("undefined" != typeof profitshare_id["8971700"] ? profitshare_id["8971700"]++ : profitshare_id["8971700"] = 1, document.write('<div id="profitshare-8971700-' + profitshare_id["8971700"] + '" style="width:728px; height:90px; margin: 0 auto;"></div>'), 1 == profitshare_id["8971700"]) {
                var c = document.createElement("script");
                c.type = "text/javascript", c.async = !0, c.src = ("https:" == document.location.protocol ? "https://" : "http://") + "w.profitshare.ro/a/QWDB", document.getElementsByTagName("head")[0].appendChild(c)
            }
        </script>
        <!-- End ProfitShare Zone 8971700 -->
    </div>
    
    <div id = "profitshareBanner1Mobile">
        <!-- Start ProfitShare Zone 8971784 -->
        <script>
            if ("undefined" == typeof profitshare_id) var profitshare_id = {};
            if ("undefined" != typeof profitshare_id["8971784"] ? profitshare_id["8971784"]++ : profitshare_id["8971784"] = 1, document.write('<div id="profitshare-8971784-' + profitshare_id["8971784"] + '" style="width:320px; heigh:50px; margin: 0 auto;"></div>'), 1 == profitshare_id["8971784"]) {
                var c = document.createElement("script");
                c.type = "text/javascript", c.async = !0, c.src = ("https:" == document.location.protocol ? "https://" : "http://") + "w.profitshare.ro/a/mYDB", document.getElementsByTagName("head")[0].appendChild(c)
            }
        </script>
        <!-- End ProfitShare Zone 8971784 -->
    </div>

    <section id = "features">
        <div class = "container">
            <div class="row mainFeatures">
                <div class="col-sm-6 col-md-4">
                    <div class="img-thumbnail">
                        <img data-src="images/secure_img.png" class = "lazyload" width="85" height="88" alt="Secure" title = "Security & Firewall">
                        <div class="caption">
                            <h2>Firewall &amp; Antivirus</h2>
                            <p>Esti protejat prin multiple puncte de verificare. Blocam zilnic mii de atacuri.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="img-thumbnail">
                        <img data-src="images/fast_img.png" class = "lazyload" width="85" height="88" alt="Fast" title = "Fast Activation">
                        <div class="caption">
                            <h2>Activare rapida</h2>
                            <p>Va putem activa email-ul dorit in cel mai scurt timp posibil.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-0">
                    <div class="img-thumbnail">
                        <img data-src="images/support_img.png" class = "lazyload" width="85" height="88" alt="Support" title = "Customer Support">
                        <div class="caption">
                            <h2>Relatii cu clientii</h2>
                            <p>Avem o echipa dedicata de asistenta pentru a va ajuta oricand aveti nevoie.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row PageHead">
                <div class="col-md-12">
                    <h2 class = "text-center">Mai multe caracteristici</h2>
                    <hr class = "featurette-divider" style = "margin: 1rem 0;">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 features">
                    <div class = "icon-square"><i class = "fa fa-gears"></i></div><h3>Memorabila</h3>
                    <p>O adresa personalizata este usor de tinut minte si transmis celorlalti.</p>
                </div>
                <div class="col-sm-6 features">
                    <div class = "icon-square"><i class = "fa fa-download"></i></div><h3>Backup-uri constante</h3>
                    <p>Automatizat si redundant pentru protectia datelor tale.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 features">
                    <div class = "icon-square"><i class = "fa fa-certificate"></i></div><h3>Profesionalism</h3>
                    <p>O adresa de email creata pe Gmail sau Yahoo va parea neprofesionala.</p>
                </div>
                <div class="col-sm-6 features">
                    <div class = "icon-square"><i class="fas fa-server"></i></div><h3>Spatiu nelimitat</h3>
                    <p>Va punem spatiu nelimitat pentru fiecare adresa de e-mail.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 features">
                    <div class = "icon-square"><i class = "fa fa-gears"></i></div><h3>Usor de administrat</h3>
                    <p>Acceseaza prin browser sau configureaza cu usurinta pe orice dispozitiv.</p>
                </div>
                <div class="col-sm-6 features">
                    <div class = "icon-square"><i class = "fas fa-cloud"></i></div><h3>Cloud</h3>
                    <p>Gazduit in cloud si disponibil oriand pentru toate mesajele importante.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 features">
                    <div class = "icon-square"><i class = "fa fa-share"></i></div><h3>Redirectionare</h3>
                    <p>Optional poti redirectiona toate mesajele catre o adresa existenta.</p>
                </div>
                <div class="col-sm-6 features">
                    <div class = "icon-square"><i class = "fas fa-thumbs-up"></i></div><h3>Credibilitate</h3>
                    <p>Acorda mai multa credibilitate mesajelor trimise printr-o adresa premium.</p>
                </div>
            </div>

            <div class = "row PageHead" id = "pricing">
                <div class = "col-md-12">
                    <h2 class = "text-center">Preturi</h2>
                    <hr class = "featurette-divider" style = "margin: 1rem 0;">
                </div>
            </div>

            <div class = "row justify-content-center">
                <div class = "col-sm-6 col-md-3 PlanPricing">
                    <div class = "planName">
                        <span class = "price">
                            4€
                        </span>
                        <h3>Standard</h3>
                        <p>Plata lunara</p>
                    </div>

                    <div class = "planFeatures">
                        <ul>
                            <li>Spatiu nelimitat</li>
                            <li>Primul e-mail gratuit pentru clientii 07INTERNET</li>
                            <li>50% reducere pentru clientii 07INTERNET</li>
                            <li>Pret intreg pentru non-clientii 07INTERNET</li>
                        </ul>
                    </div>
                    <p>
                        <a href = "/email/register" role = "button" class = "btn btn-success btn-lg">Cumpara</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    <div id = "profitshareBanner2PC">
        <!-- Start ProfitShare Zone 8971912 -->
        <script>
            if ("undefined" == typeof profitshare_id) var profitshare_id = {};
            if ("undefined" != typeof profitshare_id["8971912"] ? profitshare_id["8971912"]++ : profitshare_id["8971912"] = 1, document.write('<div id="profitshare-8971912-' + profitshare_id["8971912"] + '" style="width:728px; height:90px; margin: 0 auto;"></div>'), 1 == profitshare_id["8971912"]) {
                var c = document.createElement("script");
                c.type = "text/javascript", c.async = !0, c.src = ("https:" == document.location.protocol ? "https://" : "http://") + "w.profitshare.ro/a/qaEB", document.getElementsByTagName("head")[0].appendChild(c)
            }
        </script>
        <!-- End ProfitShare Zone 8971912 -->
    </div>
    <div id = "profitshareBanner2Mobile">
        <!-- Start ProfitShare Zone 8971923 -->
        <script>
            if ("undefined" == typeof profitshare_id) var profitshare_id = {};
            if ("undefined" != typeof profitshare_id["8971923"] ? profitshare_id["8971923"]++ : profitshare_id["8971923"] = 1, document.write('<div id="profitshare-8971923-' + profitshare_id["8971923"] + '" style="width:320px; height:50px; margin: 0 auto;"></div>'), 1 == profitshare_id["8971923"]) {
                var c = document.createElement("script");
                c.type = "text/javascript", c.async = !0, c.src = ("https:" == document.location.protocol ? "https://" : "http://") + "w.profitshare.ro/a/1aEB", document.getElementsByTagName("head")[0].appendChild(c)
            }
        </script>
        <!-- End ProfitShare Zone 8971923 -->
    </div>
</main>