@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

/* Navbar */
.menu {
    background: #232a31;
}
.menu li {
    padding: 0 0.7rem;
}

.menu a {
    color: #FFF !important;
    font-weight: 600;
    padding: 0 0.7rem;
}

.menu a:hover {
    color: #FFF;
}


/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

.header-text {
    text-shadow: 1px 1px #000;
}

/* Featurettes */
.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}
  
/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
}

@media(min-width: 992px) {
    .rounded-lg-3 {
        border-radius: .3rem;
    }
}


/* Responsive CSS */
@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
}
  
@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

.icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: .75rem;
    float: left;
}

/* Main Features */
.pageHead {
    margin-top: 50px;
}

.mainFeatures {
    margin-top: 50px;
}

.img-thumbnail {
    border: 0;
    padding: 20px 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: center;
}

.img-thumbnail h4,.img-thumbnail p {
    text-align: center;
}

.PageHead {
    margin-top: 50px;
}

.PageHead h1,.PageHead h3 {
    text-align: center;
}

.PageHead h3 {
    color: #9aa5aa;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 10px;
}


.features {
    margin: 25px 0;
}

/* Pricing */
.PlanPricing {
    margin-top: 100px;
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease
}

@media(min-width: 767px) {
    .PlanPricing:hover {
        -moz-transform:scale(1.1);
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        z-index: 2
    }
}

.PlanPricing .planName {
    background: #202b34;
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center
}

.PlanPricing .price {
    background: #2cc76a;
    padding: 5px;
    color: #fff;
    font-size: 42px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    display: block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    position: relative;
    margin-top: -107px;
    margin-bottom: 10px;
    line-height: 2.2
}

.PlanPricing .planName h3 {
    color: #fff;
    text-align: center;
    padding: 0;
    margin: 0;
    text-transform: uppercase
}

.PlanPricing .planName p {
    color: #999;
    text-align: center
}

.PlanPricing .planFeatures {
    background: #e8e9ea;
    text-align: center;
    padding: 10px
}

.PlanPricing .planFeatures ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.PlanPricing .planFeatures ul li {
    padding: 13px 0;
    list-style: none
}

.PlanPricing p {
    margin: 0
}

.PlanPricing .btn {
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

/* Buttons */
.btn-lg {
    font-size: 18px;
    padding: 20px 50px;
    margin: 5px 10px
}

.btn-success {
    background-color: #2cc76a;
    background-image: none;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)
}

.btn-success:hover,.btn-success:focus,.btn-success:active {
    background-color: #22bb5f!important;
    color: #fff!important
}

/* Email Form */
.EmailForm {
    margin-top: 25px
}

.EmailForm input[type=text],.EmailForm input[type=email] {
    height: 50px
}

.EmailForm textarea {
    height: 150px
}

.EmailForm .btn {
    width: 100%;
    margin: 5px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

/* Footer */
.copyright {
    margin: 30px 0
}

.footer {
    position: relative;
    color: #fff;
    background: url(/images/header1.jpg) no-repeat #232a31;
    background-size: cover;
    overflow: hidden;
}